DreamWeddsProject/PresentationLayer.DreamWedds.Web/PresentationLayer.DreamWedds.Web/Service References/WeddingWebService/DreamWedds.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DreamWedds" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AccuIT.PresentationLayer.ServiceApp/DreamWedds.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AccuIT.PresentationLayer.ServiceApp/DreamWedds.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AccuIT.PresentationLayer.ServiceApp/DreamWedds.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccuIT.CommonLayer.Aspects.DTO" />
      <xsd:import schemaLocation="http://localhost/AccuIT.PresentationLayer.ServiceApp/DreamWedds.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDreamWedds_JustSimpleTest_InputMessage">
    <wsdl:part name="parameters" element="tns:JustSimpleTest" />
  </wsdl:message>
  <wsdl:message name="IDreamWedds_JustSimpleTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:JustSimpleTestResponse" />
  </wsdl:message>
  <wsdl:message name="IDreamWedds_GetWeddingDetailByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeddingDetailByID" />
  </wsdl:message>
  <wsdl:message name="IDreamWedds_GetWeddingDetailByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeddingDetailByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDreamWedds_SendWelcomeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendWelcomeEmail" />
  </wsdl:message>
  <wsdl:message name="IDreamWedds_SendWelcomeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendWelcomeEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IDreamWedds">
    <wsdl:operation name="JustSimpleTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDreamWedds/JustSimpleTest" message="tns:IDreamWedds_JustSimpleTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDreamWedds/JustSimpleTestResponse" message="tns:IDreamWedds_JustSimpleTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeddingDetailByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDreamWedds/GetWeddingDetailByID" message="tns:IDreamWedds_GetWeddingDetailByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDreamWedds/GetWeddingDetailByIDResponse" message="tns:IDreamWedds_GetWeddingDetailByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDreamWedds/SendWelcomeEmail" message="tns:IDreamWedds_SendWelcomeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDreamWedds/SendWelcomeEmailResponse" message="tns:IDreamWedds_SendWelcomeEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDreamWedds" type="tns:IDreamWedds">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JustSimpleTest">
      <soap:operation soapAction="http://tempuri.org/IDreamWedds/JustSimpleTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeddingDetailByID">
      <soap:operation soapAction="http://tempuri.org/IDreamWedds/GetWeddingDetailByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWelcomeEmail">
      <soap:operation soapAction="http://tempuri.org/IDreamWedds/SendWelcomeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DreamWedds">
    <wsdl:port name="BasicHttpBinding_IDreamWedds" binding="tns:BasicHttpBinding_IDreamWedds">
      <soap:address location="http://localhost/AccuIT.PresentationLayer.ServiceApp/DreamWedds.svc/web" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>